p {
  text-align: left;
}

.headshot{
  width: 350px;
  height: auto;      /* <-- change this to increase/decrease height */
  object-fit: cover;  /* crops instead of stretching */
  display: block;
  margin-left: -30px;
  margin-right: auto;
}
